{% load static %}
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            Only<strong>Vans</strong>
            <img src="{% static 'img/onlyvans.svg' %}" alt="OnlyVans" width="30" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarToggler" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="{% if request.resolver_match.url_name == 'dashboard' %}btn btn-secondary navbar-btn{% else %}nav-link{% endif %}"
                       href="{% url 'client:dashboard' %}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="{% if request.resolver_match.url_name == 'notifications' %}btn btn-secondary navbar-btn{% else %}nav-link{% endif %}"
                       href="{% url '' %}">Notifications</a>
                </li>
                <li class="nav-item">
                    <a class="{% if request.resolver_match.url_name == 'messages' %}btn btn-secondary navbar-btn{% else %}nav-link{% endif %}"
                       href="{% url '' %}">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="{% if request.resolver_match.url_name == 'subscriptions' %}btn btn-secondary navbar-btn{% else %}nav-link{% endif %}"
                       href="{% url '' %}">Subscriptions</a>
                </li>
                <li class="nav-item">
                    <a class="{% if request.resolver_match.url_name == 'profile' %}btn btn-secondary navbar-btn{% else %}nav-link{% endif %}"
                       href="{% url '' %}">My profile</a>
                </li>
                <li class="nav-item">
                    <a class="{% if request.resolver_match.url_name == 'logout' %}btn btn-secondary navbar-btn{% else %}nav-link{% endif %}"
                       href="{% url 'logout' %}">Log out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>