{% extends 'base.html' %}
{% block title %}Profile update{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

{% if user.is_content_creator %}
{% include 'creator/navbar.html' %}
{% else %}
{% include 'client/navbar.html' %}
{% endif %}
{% include 'messages.html' %}
{% load static %}
{% load templatetags %}
<div class="container main py-5">
    <h2>🔄 Update your profile</h2>
    <hr>
    <div class="row">
        <div class="col-md-7">
            <form method="post" enctype="multipart/form-data" action="{% url 'update-profile' %}" autocomplete="off">
                {% csrf_token %}
                {{ user_form|crispy }}
                {{ profile_form|crispy }}
                <button type="submit" class="btn btn-primary">Save profile changes</button>
                <p></p><a href="{% url 'change-password' %}">Change your password here.</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}