{% extends 'base.html' %}{% block title %}Create{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'creator/navbar.html' %}
{% include 'messages.html' %}
<div class="container main py-5">
    <h2>🆕 Create a new post</h2>
    <hr>
    <div class="row">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ post_form|crispy }}
            <p><small class="form-text text-muted">You can manage your tiers <a
                    href="{% url 'creator:tiers' %}">here.</a> </small></p>
            <div class="form-group mb-3">
                <label for="id_files" class="form-label">Upload media files:</label>
                <input type="file" name="files" id="id_files" multiple class="form-control"
                       accept="image/jpeg, image/png, video/mp4, video/avi">
            </div>
            <p><small class="form-text text-muted">You can upload multiple files at once.</small></p>
            <br>
            <button class="btn btn-primary" type="submit">Create</button>
        </form>
    </div>

</div>

<script>
    // Get the 'is it a free post' checkbox, the 'tier' field and its label
    var isFreePostCheckbox = document.getElementById('id_is_free');
    var tierField = document.getElementById('id_tier');
    var tierLabel = document.querySelector('label[for="id_tier"]');  // Select the label using the 'for' attribute

    // Function to show or hide the 'tier' field and its label based on the state of the 'is it a free post' checkbox
    function toggleTierField() {
        if (isFreePostCheckbox.checked) {
            tierField.style.display = 'none';
            tierLabel.style.display = 'none';  // Hide the label
            tierField.required = false;  // Set the 'tier' field to not be required
        } else {
            tierField.style.display = 'block';
            tierLabel.style.display = 'block';  // Show the label
            tierField.required = true;  // Set the 'tier' field to be required
        }
    }

    // Listen for changes to the 'is it a free post' checkbox
    isFreePostCheckbox.addEventListener('change', toggleTierField);

    // Call the function once to set the initial state of the 'tier' field and its label
    toggleTierField();
</script>

{% endblock %}