{% extends 'base.html' %}{% block title %}Tiers{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'creator/navbar.html' %}
<div class="container main py-5">
    <h2>🏅 Your Tiers
        <a class="btn btn-success" href="{% url 'creator:create-tier' %}">Add a new Tier</a> <!-- Add Tier button -->
        &nbsp;
    </h2>
    <hr>

{% for tier in tiers %}
<div class="card mb-3">
    <div class="card-header">{{ tier.name }} - ${{ tier.price }}</div>
    <div class="card-body">
        <p>{{ tier.description }}</p>
        <p>Message Permission: {{ tier.message_permission|yesno:"Yes,No" }}</p>
        <h5>Subscribers ({{ tier.subscriber_count }}):</h5>
        <ul>
            {% for subscriber in tier.subscribers %}
            <li>{{ subscriber.user.username }}</li>
            {% empty %}
            <li>No subscribers yet.</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% empty %}
<p>You have no tiers defined.</p>
{% endfor %}
</div>
{% endblock %}